/Android_Signal_Server/ServerMessage/.idea
/Android_Client/PowerClient/.idea
/Android_Client/HomServerAndroidSW/.idea
/Android_Signal_Server/ShareServerMessage/.idea
/Android_Client/LaserPowerSW/.idea
